numpy
matplotlib
scikit-learn
pandas
tensorboard
nibabel
pillow
opencv-python
tqdm
pytest-shutil
scikit-image
torch
torchvision
torchaudio
ipython
git+https://github.com/ncullen93/torchsample
torch-tb-profiler
tensorboardX